*{
    text-decoration: none;
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
}
main{
    height: 1000px;
    width: 100%;
}