.sidebar {
    height: 100vh;
    width: 315px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #F1F2F7;
}

section {
    width: 315px;
}

.top_sidebar {
    display: flex;
    align-items: center;
    padding: 40px 27px 40px 15px;

}

.logo-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.bars {
    margin-left: 110px;
    font-size: 25px;
    cursor: pointer;
}

.sidebar_content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.logo-icon {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}
.bars.active {
    margin-left: -12px;
    transition: all 0.1s;
}
.logo-icon.active{
    display: none;
}
.logo-text.active{
    display: none;
}
.sidebar.active {
    width: 50px;
}
section.active{
    width: 50px;
}
@media screen and (max-width: 800px) {
    .bars {
        margin-left: -12px;
        transition: all 0.1s;
    }
    .logo-icon{
        display: none;
    }
    .logo-text{
        display: none;
    }
    .sidebar {
        width: 50px;
    }
    section{
        width: 50px;
    }

}